 html, body {
     height: 100%;
     margin: 0;
     padding: 0;
 }

 #main {

    width: 100%;
    height: 100%;
    left: 100%;
    top: 100%;
}
 #app {
    height: 100%;
    width: 100%;
    display: flex;
    color:cadetblue;
}