<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, initial-scale=1">
        <title>Inflection Pool</title>
        {% load static %}
        {% comment %} link style sheet here {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
            </style> 
    </head>
    <body>
        <div id="root"></div>
        <script src="{% static "frontend/main.js" %}">
        </script >

    </body>
<html>